body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}


.img-circle {
	-ms-border-radius: 50%;
	border-radius: 50%;
	border: 10px solid #E0DFE9;
	height: 160px;
	width: 160px;
}

.imgsize {
	height: 80px;
	width: 80px;
}


.footer {
	background-color: #2f2f2f;
	/*padding-top: 30px;
	padding-bottom: 3080px/
	position: fixed;
	bottom: 0;
	height: 80px;
	/*width: 100%;*/
	/*margin-top: 15px;*/
}

	.footer p {
		color: white;
	}

	.footer h4 {
		color: white;
		text-transform: uppercase;
		padding-bottom: 20px;
	}

.copyrightmag {
	margin-top: 20px;
}

.marginbottom {
	margin-bottom: 20px;
	clear: both;
}

#loadingEl {
	margin-top: 20px;
	clear: both;
}

.imgMargin {
	margin-top: 20px;
}


.input-lg {
	-ms-border-radius: 0px;
	border-radius: 0px;
}


.form-control[type="text"], .submitbut {
	float: left;
}

.form-control[type="text"] {
	width: 80%;
	margin-right: 3px;
}

.submitbut {
	border-radius: 0px;
}

.profile {
	display: inline-block;
	margin-right: 35px;
	margin-top: 5px;
	margin-bottom: 8px;
}

.theader {
	background-color: #D3D3D3;
	color: white;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 8px, inset 0 0 8px;
	}

	50% {
		box-shadow: 0 0 16px, inset 0 0 14px;
	}

	100% {
		box-shadow: 0 0 8px, inset 0 0 8px;
	}
}


.imglow {
	background-color: transparent;
	/*border-radius:50px;*/
	/*box-shadow: 0 0 8px #ea4c89, inset 0 0 8px #ea4c89;*/
	-webkit-animation: pulse 2s linear 1s infinite;
}
